Dear [Student Name],

Your [item] has been found in the Giblin Eunson library on Barry Street.

You can pick it up from the IT Helpdesk on the Ground Floor of this library during office hours. Details on current office hours are available at http://www.studentit.unimelb.edu.au/contact/index.html. Please bring along your [student card] for identification purposes.


Regards,
Student IT Staff
